body {
  font-family: sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  background-color: #434779;
}

#nav-bar-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#nav-bar-cont-left {
  display: flex;
  flex-direction: row;
}
nav a {
  display: inline-block;
  margin: 1em;
  color: white;
}

form div {
  margin: 1em;
  display: inline-block;
}

img {
  max-width: 60%;
  /* min-width: 15%; */
}
.product-cont {
  display: flex;
  justify-content: center;
}
div .boxes {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-around;
  padding: 20px;
}

.box-wrapper {
  min-width: 250px;
  min-height: 200px;
  max-width: 375px;
  /* max-height: 250px; */
  display: flex;
  flex-basis: 33%;
  flex-direction: column-reverse;
  justify-content: center;
}

.singleProduct-cont {
  display: flex;
  justify-content: center;
}

.singleProduct {
  display: flex;
  flex-direction: row;
}

.singleProductRightBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.singleProduct-cont img {
  width: 300px;
  height: 300px;
}

.cart {
  text-align: center;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cart-item-wrapper {
  padding: 5%;
  display: flex;
  justify-content: space-between;
}

.cart .cart-item-wrapper img {
  width: 150px;
  height: 150px;
}

.checkout {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.order-history .item-wrapper img {
  width: 100px;
  height: 100px;
}
